name: Gerar versão do projeto
run-name: ${{ github.actor }} está gerando uma nova versão do projeto em Python

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

permissions:
  id-token: write
  contents: write
  packages: write

jobs:
  release:
    runs-on: ubuntu-latest

    steps:
        - name: Checkout repository
          uses: actions/checkout@v4
    
        - name: Set up Python
          uses: actions/setup-python@v4
          with:
            python-version: '3.10'
    
        - name: Install dependencies
          run: |
            python -m pip install --upgrade pip
            pip install build  # Install the modern build tool

        - name: Build project
          run: |
            python -m build  # This replaces "python setup.py sdist bdist_wheel"
    
        - name: Publish to PyPI
          uses: pypa/gh-action-pypi-publish@release/v1
          with:
            password: ${{ secrets.PYPI_API_TOKEN }}
            skip-existing: true